In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#import dataset
df = pd.read_excel('data/organized-data.xlsx')

In [3]:
newdf = pd.read_excel('data/organized-data.xlsx')

In [4]:
#delete column I don't need
del newdf['TeamComposition']

In [5]:
newdf.head(5)

,Index,Timestamp,Map,EnemyComposition,Duration,Duration in Minutes,Victory,RatingChange,MMR,EnemyMMR
0,1470,1622605576,1505,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",1900-04-04 00:00:00,00:01:35,False,-10,2370,2418
1,1469,1622605250,2373,"DEATHKNIGHT-Frost-Metsudofang-Tichondrius,DRUI...",294,00:04:54,True,9,2358,2251
2,1468,1622604871,2167,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",59,00:00:59,False,-10,2378,2429
3,1467,1622604566,2167,"PALADIN-Holy-Popstar-Mug'thol,SHAMAN-Enhanceme...",215,00:03:35,True,12,2347,2356
4,1466,1622604269,1134,"HUNTER-Survival-Wiillyy-Ragnaros,PRIEST-Discip...",118,00:01:58,True,9,2333,2249

In [6]:
#rename long column
newdf.rename(columns={"EnemyComposition":"EnemyComp"})

,Index,Timestamp,Map,EnemyComp,Duration,Duration in Minutes,Victory,RatingChange,MMR,EnemyMMR
0,1470,1622605576,1505,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",1900-04-04 00:00:00,00:01:35,False,-10,2370,2418
1,1469,1622605250,2373,"DEATHKNIGHT-Frost-Metsudofang-Tichondrius,DRUI...",294,00:04:54,True,9,2358,2251
2,1468,1622604871,2167,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",59,00:00:59,False,-10,2378,2429
3,1467,1622604566,2167,"PALADIN-Holy-Popstar-Mug'thol,SHAMAN-Enhanceme...",215,00:03:35,True,12,2347,2356
4,1466,1622604269,1134,"HUNTER-Survival-Wiillyy-Ragnaros,PRIEST-Discip...",118,00:01:58,True,9,2333,2249
...,...,...,...,...,...,...,...,...,...,...
1466,4,1607488561,980,"DEMONHUNTER-Havoc-Kippeh-Kel'Thuzad,PALADIN-Re...",59,00:00:59,True,96,1688,1692
1467,3,1607488328,1505,"MAGE-Frost-Voozie-EmeraldDream,ROGUE-Subtlety-...",46,00:00:46,True,96,1613,1622
1468,2,1607487801,2167,"PRIEST-Discipline-Dustbunny-Skywall,WARRIOR-Ar...",84,00:01:24,True,96,1605,1594
1469,1,1607487621,1672,"DRUID-Balance-YaÃ­ra-Quel'Thalas,MONK-Windwalk...",38,00:00:38,True,96,1509,1509
1470,0,1607487259,1505,"DRUID-Feral-BÃªowÃ¼lf-Proudmoore,PRIEST-Shadow...",46,00:00:46,True,96,1500,1500

In [17]:
#create a dictionary that holds the map id and the map number
# import pandas as pd

# df = pd.DataFrame(data={'a': [1, 2, 3], 'b': [100, 200, 300]})
# rename_dict = {100: 1000, 200: 2000}

# df['b'].replace(rename_dict, inplace=True)

# print(df)
# which results in:

#    a     b
# 0  1  1000
# 1  2  2000
# 2  3   300
map_dict= {572: "Ruins of Lordaeron", 617: "Dalaran Sewers", 980: "Tol'Viron", 1134: "Tiger's Peak", 1504: "Black Rook Hold", 1505: "Nagrand", 1552: "Ashamane's Fall", 1672: "Blade's Edge", 1825: "Hook Point", 1911: "Mugambala", 2167: "Robodome", 2373: "Empyrean Domain"}

print(map_dict)

{572: 'Ruins of Lordaeron', 617: 'Dalaran Sewers', 980: "Tol'Viron", 1134: "Tiger's Peak", 1504: 'Black Rook Hold', 1505: 'Nagrand', 1552: "Ashamane's Fall", 1672: "Blade's Edge", 1825: 'Hook Point', 1911: 'Mugambala', 2167: 'Robodome', 2373: 'Empyrean Domain'}

In [18]:
#replace the values in the map column with the map names
newdf['Map'].replace(map_dict, inplace=True)

In [12]:
newdf.dtypes

Index                   int64
Timestamp               int64
Map                     int64
EnemyComposition       object
Duration               object
Duration in Minutes    object
Victory                  bool
RatingChange            int64
MMR                     int64
EnemyMMR                int64
dtype: object

In [17]:
#change the values from True/False to Win/Loss

#convert the column from Bool to string
tf_dict = {True: 'TRUE', False: 'FALSE'}
newdf['Victory'].replace(tf_dict, inplace=True)

In [19]:
#change the True and Falses to Win/Loss
win_dict = {'TRUE': 'Win', 'FALSE': 'Loss'}
newdf['Victory'].replace(win_dict, inplace=True)

In [20]:
newdf.head(5)

,Index,Timestamp,Map,EnemyComposition,Duration,Duration in Minutes,Victory,RatingChange,MMR,EnemyMMR
0,1470,1622605576,1505,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",1900-04-04 00:00:00,00:01:35,Loss,-10,2370,2418
1,1469,1622605250,2373,"DEATHKNIGHT-Frost-Metsudofang-Tichondrius,DRUI...",294,00:04:54,Win,9,2358,2251
2,1468,1622604871,2167,"DEMONHUNTER-Havoc-KaÃ¸tix-Hyjal,MONK-Windwalke...",59,00:00:59,Loss,-10,2378,2429
3,1467,1622604566,2167,"PALADIN-Holy-Popstar-Mug'thol,SHAMAN-Enhanceme...",215,00:03:35,Win,12,2347,2356
4,1466,1622604269,1134,"HUNTER-Survival-Wiillyy-Ragnaros,PRIEST-Discip...",118,00:01:58,Win,9,2333,2249

In [27]:
newdf.to_excel("final-analysis.xlsx", sheet_name='Cleaned-data')